@model IPagedList<Book>
@using X.PagedList
@using BookShop.Domain.Entities
@using X.PagedList.Mvc.Core



<div class="container">
    <div class="row">

    @foreach (var book in Model)
    {
        <div class="card m-2" style="width: 15rem;">
                <div class="container3">
                    <img src="@book.ImgUrl" class="card-img-top" alt="@book.Title" height="300px" />
                </div>
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">@book.Author</p>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@book.BookId">See details</a>
            </div>
        </div>
    }
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, pageBestSelling => Url.Action("Index", new { pageBestSelling }))
</div>